{{!< default}}
{{> header}}
<main class="home">
    <div class="fx-row fx-row-center-l">
    <div class="fx-col-80-l">
        {{#foreach posts}}
            {{#has tag="home"}}
            <article class="home {{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">
            <header class="home--postheader">
                <h1 class="home--posttitle" itemprop="headline">{{title}}</h1>
            </header>
            <div class="home--postcontent" itemprop="articleBody">
            {{#if image}}
                <img src="{{image}}" alt="{{title}}">
            {{/if}}
              {{content}}
            </div>
          </article>
          {{/has}}
        {{/foreach}}
    </div>
    </div>
    {{> contact}}
</main>
{{> footer}}
