{{!< default}}
{{> header}}
<main class="home">
  <div class="fx-row fx-row-center-l">
    <div class="fx-col-80-l">
        {{#foreach posts}}
            {{#has tag="home"}}
            <article class="home {{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">
            <header class="home--postheader">
                <h1 class="home--posttitle" itemprop="headline">{{title}}</h1>
            </header>
            <div class="home--postcontent" itemprop="articleBody">
            {{#if image}}
                <img src="{{image}}" alt="{{title}}">
            {{/if}}
              {{content}}
            </div>
          </article>
          {{/has}}
        {{/foreach}}
    </div>
  </div>
  <div class="fx-row fx-row-center-l contact">
    <div class="fx-col-80-l contact--content">
        <h3 class="contact--title">Votre demande de devis personnalisée</h3>
        <a href="http://localhost:2368/contact/" class="contact--btn btn--transition btn--hover">Contactez-nous</a>
    </div>
  </div>
</main>
{{> footer}}
