{{!< default}}
{{> header}}
<main>
  <div class="fx-row fx-row-center-l">
    <div class="fx-col-80-l">
        {{#foreach posts}}
        {{!-- UPDATE schema.org --}}
            {{#has tag="home"}}
            <article class="home {{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">
            <header class="home--postheader">
                <time class="home--date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
                <h1 class="home--posttitle" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
            </header>
            <div class="home--postcontent" itemprop="articleBody">
            {{#if image}}
                <img src="{{image}}" alt="{{title}}">
            {{/if}}
              {{content}}
            </div>
          </article>
          {{/has}}
        {{/foreach}}
    </div>
  </div>
  <div class="fx-row">
    <div class="fx-col-100">

    </div>
  </div>
</main>
{{> footer}}
